<header>

<% if(!user){ %>
  <a href= "/register"> register here</a>
  <a href= "/login"> login</a>
<% }else {  %>
  <p><%= user.email%></p>
  <a href= "/urls"> My Links </a>
  <form action="/logout" method="POST">
  <input type="submit" value="logout">
  </form>
<% }%>


</header>


