<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Email address:</label>
      <input id="email" type="text" name="email" plaEceholder="example@example.com/" style="width: 300px">
      <label for="password">Password:</label>
      <input id="password" type="text" name="password" style="width: 300px">
      <input type="submit" value="register">
    </form>
  </body>
</html>